<h1>Get Started</h1>

<% @reservations.each do |reservation| %>
	<%= reservation.time %> <br>
	<%= reservation.date %> <br>
    <%= Restaurant.show_rest(reservation.restaurant_id).name %> <br>
    <%= Restaurant.show_rest(reservation.restaurant_id).address %> <br>
    <%= Restaurant.show_rest(reservation.restaurant_id).description %> <br>
<% end %>


<%= link_to "Start Restaurant Roulette", new_reservation_path() %> <br/>

<%= link_to "Manage Restaurants", user_restaurants_path(@current_user) %>
