
<h1>Get Started</h1>

<%= link_to "Start Restaurant Roulette", new_reservation_path() %> <br/>

<% @reservations.each do |reservation| %>
	<%= "Time of Reservation: #{Restaurant.convert_time(reservation.time)}" %> <br>
	<%= "Date of Reservation: #{Restaurant.convert_date(reservation.date)}" %> <br>
    <%= "Restaurant: #{Restaurant.show_rest(reservation.restaurant_id).name}" %> <br>
    <%= "Address: #{Restaurant.show_rest(reservation.restaurant_id).address}" %> <br>
    <%= "Description: #{Restaurant.show_rest(reservation.restaurant_id).description}" %> <br>
		<%= link_to "Delete", reservation_path(id: reservation.id), method: :delete, data: { confirm: "Are you sure?" } %><br>
        <%= link_to "See Reservation Details", reservation_path(reservation) %><br><br>
<% end %>




<%= link_to "Manage Restaurants", user_restaurants_path(@current_user) %>
