
<%= "Date: #{@reservation.date}" %> <br>
<%= "time: #{Restaurant.convert_time(@reservation.time)}" %> <br>
<%= "Party size: #{@reservation.size}" %> <br>

<div>
<ul>
    <h1>Chosen Restaurant:</h1>
    <li><%= "Name: #{@chosen_restaurant.name}" %> </li>
    <li><%= "Address: #{@chosen_restaurant.address}" %> </li>
    <li><%= "Description: #{@chosen_restaurant.description}" %> </li>
</ul>
</div>


<%= form_for([@user, @user.saved_reservations.build], {action: "create"}) do |f| %>

    <%= f.hidden_field :date, :value => @reservation.date %>

    <%= f.hidden_field :time, :value => @reservation.time %>

    <%= f.hidden_field :size, :value => @reservation.size %>

    <%= f.hidden_field :neighbourhood_id, :value => @reservation.neighbourhood_id %>


    <%= f.hidden_field :restaurant_id, :value => @chosen_restaurant.id %>

    <%= f.submit "Confirm Reservation" %>

<% end %>


<%= link_to "Play Again", reservation_path %>
