<h1>These are your Restaurants</h1>


<% @restaurants.each do |restaurant| %>
<div>
    <ul>
	<li><%="Restaurant: #{restaurant.name}" %> <br> </li>
    <li> <%= "Address: #{restaurant.address}" %> <br> </li>
    <li><%= "Description: #{restaurant.description}" %> <br> </li>
    <%= link_to "See reservations", user_restaurant_path(:id => restaurant.id) %>
    </ul>
</div>

<% end %>


<%= link_to 'Add a Restaurant:', new_user_restaurant_path %> <br/>

<%= link_to 'Back to Home Page', root_path %>


