
<%= @restaurant.name %> <br>
<%= @restaurant.address %> <br>
<%= @restaurant.description %><br>

<% @reservations.each do |r| %>
<div>
  <%= User.find(r.user_id).name %> <br>
  <%= r.time %><br>
  <%= r.date %><br>
  <%= r.size %><br>
  <br>
</div>
 <% end %>



<%= link_to "Back to Restaurants", user_restaurants_path %>

